# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
*.egg-info/
*.gourmet-plugin
*.mo
/build/
/dist/
gourmet.appdata.xml
gourmet.desktop
/development.txt

# Test outputs
tests/recipe_files/athenos1.gourmetcleaned.mx2  


# Virtual environments
/env/
/venv/


# Editors
*.swp
.idea/
