[Desktop Entry]
Version=1.0
Type=Application

Name=Gourmand
GenericName=Recipe Manager
X-GNOME-FullName=Gourmand Recipe Manager
Categories=GTK;Utility;
Comment=Organize recipes, create shopping lists, calculate nutritional information, and more.
Icon=io.github.GourmandRecipeManager.Gourmand

Exec=gourmand
Terminal=false
StartupNotify=true
