name: Create AppImage

on:
  push:
    tags:
      - '*'
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

jobs:
  AppImage:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5
    - name: Install Ubuntu dependencies
      run: >
        sudo apt-get update -q && sudo apt-get install
        --no-install-recommends -y xvfb python3-dev python3-gi
        python3-gi-cairo gir1.2-gtk-3.0 libgirepository1.0-dev libcairo2-dev
        intltool gir1.2-poppler-0.18 python3-gst-1.0
        python3-testresources imagemagick
        libfuse2

    - name: Setup AppImage Environment
      run: |
        wget -c https://github.com/$(wget -q https://github.com/niess/python-appimage/releases/expanded_assets/python3.10 -O - | grep "python3.10.*x86_64.AppImage" | head -n 1 | cut -d '"' -f 2)
        chmod +x ./python3*.AppImage
        ./python3*.AppImage --appimage-extract
        wget -c https://github.com/$(wget -q https://github.com/probonopd/go-appimage/releases/expanded_assets/655 -O - | grep "appimagetool-.*-x86_64.AppImage" | head -n 1 | cut -d '"' -f 2)
        chmod +x appimagetool-*.AppImage

    - name: Install Gourmand in AppImage
      run: |
          C_INCLUDE_PATH=/usr/include/python3.10
          export C_INCLUDE_PATH
          ./squashfs-root/AppRun -m pip install --upgrade pip build
          ./squashfs-root/AppRun -m build .
          ./squashfs-root/AppRun -m pip install .[epub-export,mycookbook,pdf-export,web-import]
          ./squashfs-root/AppRun -m pip install dist/gourmand*.whl
          sed -i -e 's|/opt/python3.10/bin/python3.10|/usr/bin/gourmand|g' ./squashfs-root/AppRun
          rm squashfs-root/*.desktop
          cp data/io.github.GourmandRecipeManager.Gourmand.desktop squashfs-root/usr/share/applications/io.github.GourmandRecipeManager.Gourmand.desktop
          cp data/io.github.GourmandRecipeManager.Gourmand.desktop squashfs-root/io.github.GourmandRecipeManager.Gourmand.desktop
          cp data/io.github.GourmandRecipeManager.Gourmand.appdata.xml squashfs-root/usr/share/metainfo/io.github.GourmandRecipeManager.Gourmand.desktop.appdata.xml
          convert data/io.github.GourmandRecipeManager.Gourmand.svg squashfs-root/usr/share/icons/hicolor/256x256/apps/io.github.GourmandRecipeManager.Gourmand.png
          convert data/io.github.GourmandRecipeManager.Gourmand.svg squashfs-root/io.github.GourmandRecipeManager.Gourmand.png

    - name: Pack AppImage
      run: |
          chmod 0775 squashfs-root
          VERSION=${GITHUB_SHA::8} ./appimagetool-*.AppImage squashfs-root/

    - name: Upload AppImage
      uses: actions/upload-artifact@v4
      with:
        name: gourmand.AppImage
        path: ./Gourmand-*.AppImage
