# This workflow will install Python dependencies, and build the app
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v5

    - name: set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}

    - name: Setup build environment
      run: |
        sudo apt-get update -q
        sudo apt-get install intltool

    - name: Setup build tools
      run:
        python -m pip install --upgrade pip setuptools wheel testresources build

    - name: Create wheel and source distributions
      run: |
          python -m build .
          mv dist/gourmand-*.tar.gz dist/gourmand-${GITHUB_SHA::8}.tar.gz
          mv dist/gourmand-*-py3-none-any.whl dist/gourmand-${GITHUB_SHA::8}-py3-none-any.whl

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
          name: gourmand_${{ matrix.python }}
          path: ./dist/gourmand-*

    - name: Verify artifacts
      run: |
        python -m pip install twine
        python -m twine check dist/*
