name: Create Flatpak

on:
  push:
    tags:
      - '*'
    branches:
      - 'main'
  # pull_request:
  workflow_dispatch:

jobs:
  flatpak:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5
    - name: Install Flatpak
      run: |
        sudo apt-get update
        sudo apt install flatpak flatpak-builder

    - name: Setup Flatpak
      run: |
        flatpak remote-add --if-not-exists --user flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak install flathub org.gnome.Platform//49 org.gnome.Sdk//49 -y

    - name: Build Flatpak
      run: |
        flatpak-builder --repo=repo --force-clean build-dir .flatpak/io.github.GourmandRecipeManager.Gourmand.yml

    - name: Build Bundle
      run: |
        flatpak build-bundle repo gourmand-${GITHUB_SHA::8}.flatpak io.github.GourmandRecipeManager.Gourmand

    - name: Upload Flatpak
      uses: actions/upload-artifact@v5
      with:
        name: gourmand.flatpak
        path: ./gourmand-*.flatpak
