# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v4
      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install Ubuntu dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install --no-install-recommends -y xvfb gir1.2-gtk-3.0 libgirepository1.0-dev libcairo2-dev gir1.2-gstreamer-1.0 intltool enchant-2

      - name: Install build dependencies
        run: |
          pip install --upgrade pip setuptools wheel

      - name: Install Gourmand
        run: pip install -r development.in

      - name: Test with pytest
        run: LANGUAGE=de_DE.utf-8 xvfb-run -a pytest

      - name: Check imports ordering
        run: >
          isort --diff src/**/*.py &&
          isort -c src/**/*.py
        if: always()
